{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block container %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
</style>
<div class="container" >
    <form id="form" class="well" method="POST" action="{{path('login_login_saveaccount')}}" data-validate="parsley" name="update" >
         <table width="100%" cellpadding="5" cellspacing="5">
            <tr> 
                <td align="center" colspan="6"><h2>Edit {{user.firstName}} Account</h2></td>
            </tr>
            <tr> 
                <td></td>
                <td><input type="hidden" name="userid" class="input-xlarge" data-trigger="change" data-required="true" data-type="userid" placeholder="Please enter your email address" value="{{user.userid}}" /></td>
            </tr>
            <tr> 
                <td><label>Email Address</label></td>
                <td><input type="text" name="email" class="input-xlarge" data-trigger="change" data-required="true" data-type="email" placeholder="Please enter your email address" value="{{user.userName}}" readonly="readonly" /></td>
            </tr>
            <tr> 
                <td><label>First Name</label></td>
                <td><input type="text" name="firstname" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your first name"  value="{{ user.firstName }}" /></td>
            </tr>
            <tr> 
                <td><label>Last Name</label></td>
                <td><input type="text" name="lastname" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your last name" value="{{user.lastName}}"/></td>
            </tr>
            <tr> 
                <td colspan="8" style="text-align:center;">
                <button class="btn btn-primary" type="submit" >Update {{user.firstName}} Account</button> | <a href="{{path('login_login_homepage')}}" >&raquo; Back to Login Page</a></td>
            </tr>
        </table>
    </form>
</div>
 {%endblock%}