{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block container %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
</style>
<div class="container" >
    <form id="form" class="well" method="POST" action="{{path('login_login_passwordresetted')}}" data-validate="parsley" name="updatepass" >
         <table width="100%" cellpadding="5" cellspacing="5">
            <tr> 
                <td align="center" colspan="6"><h2>Edit {{user.firstName}} Password</h2></td>
            </tr>
            <tr> 
                <td></td>
                <td><input type="hidden" name="userid" class="input-xlarge" data-trigger="change" data-required="true" data-type="userid" placeholder="Please enter your email address" value="{{user.userid}}" /></td>
            </tr>
        
            <tr> 
                <td><label>New Password</label></td>
                <td><input type="password" id="password" name="password" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your desired password" value="{{user.password}}" />
                </td>
            </tr>
            <tr> 
                <td><label>Confirm Password</label></td>
                <td>
                <input type="password" id="passwordRe" name="passwordRe" class="input-xlarge" data-trigger="change" data-required="true" data-equalto="#password" placeholder="Please enter again your desired password" value="{{user.password}}" />
                </td>
            </tr>
            <tr> 
                <td colspan="8" style="text-align:center;">
                <button class="btn btn-primary" type="submit" >Update {{user.firstName}} Password</button> | <a href="{{path('login_login_homepage')}}" >&raquo; Back to Login Page</a></td>
            </tr>
        </table>
    </form>
</div>
 {%endblock%}